<div style="background-color: white;">


<h1>Realización Reservas</h1>

<br>
<div class="uk-container-center">

  <form class="uk-form" ng-submit="hola()">
      Fecha <input date-time id="fecha" date-change="hola()" ng-model="fecha" type="text" data-uk-datepicker="{format:'DD-MM-YYYY'}" placeholder="{{ fechaActual}}">
      <code>text = {{fecha}}</code><br/>
      <input type="submit" value="Register">
  </form>

  <ng-datepicker ng-model="ctrl.date">
</ng-datepicker>



  <div class="uk-grid">

    <div class="uk-width-1-3">
      <hr class="uk-article-divider">
    </div>

    {{plantaLabel}}
    <div class="uk-width-1-3">

      <form name="myForm" class="uk-form">
        <select name="mySelect" id="mySelect"
          ng-options="opcion.nombre for opcion in datosSelect.opciones track by opcion.id"
          ng-model="datosSelect.opcionSeleccionada"
          ng-change="cambioSelectPlanta()"></select>
      </form>

    </div>
    <div class="uk-width-1-3">
      <hr class="uk-article-divider">
    </div>

  </div>

</div>

<div>
  <canvas id="demoCanvas" width="1000" height="500"></canvas>
</div>

</div>
